.App {
  text-align: center;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 50%;
  margin-bottom: 0.5rem;
}

.search-form {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.results-header {
  text-align: center;
}

.results {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: row;
  text-align: center;
}

.card {
  height: 200px;
  width: calc(48% - 30px);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  background: #04aa6d;
  color: white;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
}

h4 {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #90e4ff;
  font-weight: bold;
  color: black;
}

.link-button {
  background: ;
}
